<div class="product-card">
    <img class="product-img" src="{{thumbnail}}">
    <div class="product-info">
        <p class="product-title">{{title}}</p>
        <details>
            <summary style="font-size: 10px;">Post Details</summary>
            <p>
                {{description}}
            </p>
        </details>
    </div>
</div>