<header class="page-header">
    <h1>Csc 317</h1>
    <nav>
        <ul>
            {{#if isLoggedIn}}
                {{> userdropdown}}
            {{else}}
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/registration">Registration</a>
                </li>
                
            {{/if}}
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/postvideo">Post</a>
                </li>
                <li>
                    <a href="/viewpost">Watch</a>
                </li>
        </ul>
    </nav>
</header>