<main>
    <h2>Login Form</h2>
    <form>
        <label for="username">Username</label>
        <input type="text" class="input-text" name="username" id="username" placeholder="USERNAME">
        <label for="password">Password</label>
        <input type="password" class="input-text" name="password" id="password" placeholder="PASSWORD">
        <input type="submit" class="button" value="Login">
    </form>
</main>