<main>
    <div class="profile-owner-details">
        <em>
            <strong class="profile-username">{{user.username}}</strong>
        </em>
        <br>
        <em>
            <strong class="profile-email">{{user.email}}</strong>
        </em>
    </div>

    <div id="userPosts" name="userPosts">
        {{#each posts}}
        {{> card this}}
        <form method="POST" action="/posts/delete/{{this.id}}">
            <button type="submit">Delete</button>
        </form>
        {{/each}}
    </div>
</main>