<main>
    <em>
        <strong class ="profile-username">{{user.username}}</strong>
    </em>
    <br>
    <em>
        <strong class="profile-email">{{user.email}}</strong>
    </em>
    <details>
        <summary>Users Posts:</summary>
        <ol></ol>
        <ol></ol>
        <ol></ol>
        <ol></ol>
        <ol></ol>
    </details>
</main>