<main>
    <em>
        <strong class ="profile-username">{{user.username}}</strong>
    </em>
    <br>
    <em>
        <strong class="profile-email">{{user.email}}</strong>
    </em>
    
    <div id="userPosts" name="userPosts">
        {{#each posts}}
            {{> card this}}
        {{/each}}
    </div>
</main>