<main>
    <em>
        <strong>Profile Name</strong>
    </em>
    <em>
        <strong>UserName@email.com</strong>
    </em>
    <details>
        <summary>Users Posts:</summary>
        <ol></ol>
        <ol></ol>
        <ol></ol>
        <ol></ol>
        <ol></ol>
    </details>
</main>