<main>
    <div class="input-group">
        <form id="registration-form"
        action= "/users/registration"
        method = "POST"
        enctype="application/x-www-form-urlencoded">
            <label for="username">Username</label>
            <input type="text" class="input-text" name="username" id="username" placeholder="USERNAME">
            <p id="username-error-message" style="display: none; font-size:16px; color: red;"></p>
            <label for="email">Email</label>
            <input type="email" class="input-text" name="email" id="email" placeholder="EMAIL">
            <label for="password">Password</label>
            <input type="password" class="input-text" name="password" id="password" placeholder="PASSWORD">
            <p id="password-error-message" style="display: none; font-size:16px; color: red;"></p>
            <label for="password confirm">Password Confirm</label>
            <input type="password" class="input-text" name="passwordConfirm" id="password confirm"
                placeholder="CONFIRM PASSWORD">
            <p id="passwordConfirm-error-message" style="display: none; font-size:16px; color: red;"></p>
            <label for="age">Im at least 13 years of age!</label>
            <input type="checkbox" class="checkbox" name="age" id="age" value="on" required>
            <label for="TOS">I agree to the TOS!</label>
            <a href="https://preview.redd.it/jajtt23f9n811.jpg?auto=webp&s=513ecafaad01b19537c3515611c9d8d9d089074a"
                target="_blank">TOS and Privacy Rules</a>
            <input type="checkbox" class="checkbox" name="TOS" id="TOS" value="on" required>
            <input type="submit" class="button" value="Register">
            <p id="submit-error" style="display: none; font-size:16px; color: red;"></p>
        </form>
    </div>
</main>