<main>
    <h2>GENERIC TITLE NAME :D</h2>
    <iframe width="400" height="300" src="https://www.youtube.com/embed/XxWcirHIwVo" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    <details>
        <summary>Video Detials</summary>
        <strong>Creator: Yakku</strong>
        <br>
        <strong>Date Posted: 3/1/2023</strong>
    </details>
    <details>
        <summary>Comments:</summary>
        <ol>
            <h3>@YakkuHater</h3>
            <p>This video is horrible bruh please learn how to edit &#10071;</p>
        </ol>
        <ol>
            <h3>@YakkuSupporter</h3>
            <p>Ima have to agree with the haters, ur video blows💯</p>
        </ol>
        <ol></ol>
        <ol></ol>
        <ol></ol>
    </details>
</main>