:root{
  --site-bg-color:#202124;
  --main-palate-color: #606368;
  --secondary--palate-color: #3c4042;
}

* ,
*::after
*::before{
  box-sizing: border-box;
}

body {
  padding: 5px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--site-bg-color);
  color: #b64fc8;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}
header{
  background-color: var(--main-palate-color);
  outline: 2px ridge var(--secondary--palate-color);
}
header > h1{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
}

nav > ul{
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-auto-flow:column;
  text-align: center;
}
a {
  text-decoration: none;
}
form{
  display: grid;
  grid-auto-flow:row;
  text-align: center;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 20px;
}
.input-text{
  text-align: center;
  padding: 14px;
  border: 1px solid var(--main-palate-color);
  border-radius: 1rem;
  box-shadow: -2px 2px 5px whitesmoke;
}
.button{
  margin-top:1rem;
  color: var(--main-palate-color);
  border: 1px solid var(--main-palate-color);
  border-radius:1rem;
}
.button:hover{
  background-color:#b64fc8;
  color: whitesmoke;
}
.checkbox:hover{
  background-color:#b64fc8;
  color: whitesmoke;
  transform: scale(1.5);
}
footer{
  font-size:30px;
  background-color: var(--main-palate-color);
  outline: 2px ridge var(--secondary--palate-color);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  text-align: center;
}
.valid-text{
  outline:solid green;
}
.invalid-text{
  outline:solid red;
}
.alert.alert-danger{
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: red;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 1rem;
  animation: fadeOut 3s forwards;
}
.alert.alert-success{
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: green;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 1rem;
  animation: fadeOut 5s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.dropdown-menu-nobs {
  position: relative;
}

.button-dropdown {
  background-color: #b64fc8;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
}

.dropdown-menu-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #b64fc8;
  padding: 0;
  width: max-content;
  box-sizing: border-box;
  white-space: nowrap;
  border: 2px solid #ffccff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(182, 79, 200, 0.5);
}

.dropdown-menu-items a {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  
}

.dropdown-menu-items a:hover {
  background-color: white;
  color: #b64fc8;
}

.button-dropdown:hover + .dropdown-menu-items,
.dropdown-menu-items:hover {
  display: block;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.search-text {
  width: 300px;
  padding: 10px;
  border: 1px solid var(--secondary--palate-color);
  border-radius: 1rem;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: #b64fc8;
  border: none;
  color: var(--secondary--palate-color);
  border-radius: 1rem;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin-bottom: 20px;
  
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin: 10px;
  background-clip: padding-box;
  background-color: var(--secondary--palate-color);
}

.product-img {
  width: 100%;
  height: auto;
}

.product-info {
  border: 10px inset var(--main-palate-color);
  background-color: rgb(13, 10, 14);
}

.product-title {
  font-weight: bold;
  margin: 5px;
}

.product-info a {
  color: #b64fc8;
}

.product-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.video-container {
  width: 100%;
  max-width: 400px;
}

.comment-section {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.comment-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.comment-box-text {
  width: 300px;
  padding: 5px;
}

.comment-box-button {
  margin-left: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.comment {
  margin-bottom: 10px;
}